:root {
   --white-color: #ffffff;
   --blue-logo-color:#4d5ae5;
   --black-logo-color:#2e2f42;
   --black-contacts-color:#434455;

}
body {
   font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color :var(--white-color);
}
 .list {
    list-style: none;
 }
 .link {
    color: var(--black-contacts-color);
    text-decoration: none;
 }

.web-link {
   font-family: 'Raleway',
      sans-serif;
   font-style: extrabold;
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
    line-height: 1.17; 
    text-transform: uppercase;
   text-decoration: none; 
   color: var(--blue-logo-color);
   
}

.studio {
   font-family: 'Raleway',
      sans-serif;
   font-style: extrabold;
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
   color: var(--black-logo-color);
}
.nav list {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02;
   color: var(--black-logo-color);
   list-style: none;
   text-decoration: none;
}
 .nav item-link:hover,
 .nav item-link:focus {
   color: #404bbf;
   }
.address list {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   list-style: none;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color : var(--black-contacts-color);
   }
 .address link:hover,
 .address link:focus {
   color: #404bbf;
 }
 .hero kontejner {
   background-color: var(--black-logo-color);
 }
  .hero text {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
 }
 .button hero {
   background-color: #4D5AE5;
   font-family: "Roboto" , sans-serif;
   font-weight: 500;
   line-height: 1.5;
   font-size: 16px;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
 }
 .button hero:hover,
 .button hero:focus{
   background-color: #404BBF;
 }
 .section-list {
   list-style: none;
 }
 .section-title-list {
   font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--black-logo-color: #2e2f42);
   }
   .section-text-list {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--black-contacts-color);
      

   }
 
 


