:root {
   --white-color: #ffffff;
   --blue-logo-color:#4d5ae5;
   --black-logo-color:#2e2f42;
   --black-contacts-color:#434455;

}
body {
   font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color :var(--white-color);
}
a {
   text-decoration: none;
   color: #000;

}
 
li {
   display: block;
   color: black;
   
}

.Web-link {
   font-family: 'Raleway',
      sans-serif;
   font-style: extrabold;
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
    line-height: 1.17; 
    text-transform: uppercase;
   text-decoration: none; 
   color: var(--blue-logo-color);
   
}

.Studio {
   font-family: 'Raleway',
      sans-serif;
   font-style: extrabold;
   font-weight: 800;
   font-size: 18px;
   letter-spacing: 0.03em;
   color: var(--black-logo-color);
}
.Nav list {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02;
   color: var(--black-logo-color);
   list-style: none;
   text-decoration: none;
}
 .Nav item-link:hover,
 .Nav item-link:focus {
   color: #404bbf;
   }
.address list {
   font-family: 'Roboto', sans-serif;
   font-style: Regular;
   Text style: Body;
   font-weight: 400;
   font-size: 16px;
   list-style: none;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color : var(--black-contacts-color);
   }
 .address link:hover,
 .address link:focus {
   color: #404bbf;
 }
 .Hero kontejner {
   background-color: var(--black-logo-color);
   font-size: 188px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
 }
 .Order Service {
   background-color: #4D5AE5;
   font-family: "Roboto" , sans-serif;
   font-weight: 900;
   line-height: 1.5;
   font-size: 40px;
 }

 


